Source: rtai
Priority: extra
Maintainer: David Schleef <ds@schleef.org>
Build-Depends: debhelper (>> 2.0.0)
Standards-Version: 3.5.6

Package: rtai-source
Section: admin
Architecture: all
Recommends: dpkg-dev, c-compiler, make
Suggests: kpkg-build
Description: Real-Time Application Interface
 RTAI.
 .
 This package provides the source code for the RTAI kernel modules.
 The kernel source, with the necessary RTAI patch applied, is required
 to compile these modules.

Package: rtai-base
Section: admin
Architecture: all
Description: Real-Time Application Interface
 RTAI base files.

